body{
	font-family:Georgia;
	margin:0;
}

header{
	background-color:black;
	overflow:hidden;
}

h1 img{
	padding:30px 25px 0 29px;
	margin:0 0 12px 0;
	width:60%;
	max-width:300px;
	display:block;
}

h1{
	margin:auto auto 0 auto;
}

.strapline{
	color:white;
	margin:0;
	padding:0 20px 30px 30px;
	font-size:1.2em;
}

h2{
	margin:0;
}

.clients img{
	width:100%;
	display:block;
	margin:0;
}

.getintouch{
	font-weight:bold;
	padding-bottom:40px;
}

.firstp{
	padding:40px 30px 0 30px;
	max-width: 500px;
	margin:0 auto;
}

p{
    padding:20px 30px 0 30px;
    max-width:500px;
    margin:0 auto;
    line-height: 140%;
}

a{
	text-decoration: none;
	color:#4BB208;
}

a:hover{
	text-decoration: underline;
}

footer{
	background-color:black;
	overflow:hidden;
	text-align:center;
	/*border-top:1px solid white;
	clear:both;*/
}

.vcard{
	color:white;
}

ul{
	margin: 20px 0;
	padding-bottom:40px;
}

li{
	float:left;
	list-style: none;
	width:30%;
	margin-bottom: 20px;
	/*border:1px red solid;*/
}